<template>
  <div class="view">
    <div
        style="
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;">
      <img src="../assets/85379-dragon.gif" style="max-width :500px;">
      <h1>
        Sorry, I'm updating my portfolio ! 👽
      </h1>
    </div>

    <!--
        <div id="welcomeText">

          <div id="title-container">
            <h1>Hi, I'm Alexandre!</h1>
            <svg xmlns="http://www.w3.org/2000/svg" id="welcome-draw" viewBox="0 0 1040 225" class="a">
              <g class="b">
                <path
                    d="M58.5 182.7C61.2 180.9 61.3 179.4 58.5 179.4 55.7 179.4 54.7 178.3 56.3 174.2 57.9 170.1 39.6 171.4 41.3 170.4 43 169.3 39.6 168.2 38.6 168 37.6 167.8 33.9 167 37 165.4 40.1 163.8 32.2 160.7 26.9 160.7 21.7 160.7 28.5 160.7 28.5 158.6 28.5 156.4 26.4 157.2 27.1 156.7 27.9 156.3 25.1 155.2 18.9 153.7 12.6 152.2 23.2 149.9 23.2 149.9 37.8 145.5 17.5 136.6 13.7 136.6 13.2 136.7 12.7 136.5 12.2 136.3 11.7 136 11.4 135.6 11.2 135.1 10.9 134.6 10.9 134.1 11 133.6 11.1 133.1 11.3 132.6 11.7 132.2 12.6 131.7 20.5 126.4 14.4 122.1 8.3 117.9 17.9 111.4 17.9 111.4 20.3 109.5 23.9 113 25.2 113.2 26.5 113.5 29.3 112 28.4 111 27.6 110 27.2 108 35.3 104.6 43.3 101.1 36 91.6 35.9 89.2 35.8 86.9 37.3 87.7 38.3 86.2 39.2 84.7 35.2 84.5 37.1 83.9 39 83.2 33.8 81.7 31 81.5 28.2 81.3 35.2 81.5 35.6 80.1 36 78.7 32.5 80.1 34.7 77 37 73.9 22.2 74.1 22.9 71.2 23.7 68.4 22.3 70.3 22 69 21.7 67.7 22 69 23.5 68 16.8 67.1 10.1 66.8 3.4 67.2-7.3 67.2 9.5 63.2 14.1 62.4 18.8 61.5 19.2 58.5 16.1 58 13 57.4 13.1 56.4 14.5 56 15.9 55.7 10 54.3 10.7 53.6 11.5 52.8 12.2 52.7 6.4 51 0.6 49.3 10.7 47.4 10.7 47.4 50.9 39.9 26.9 40.2 54.9 29.6 82.9 19 316.5 1.2 341.4 0 366.2-1.2 379.2 3.3 356.4 9.5 333.5 15.7 360.7 17.4 372.5 18.6 384.3 19.9 594.8 29.2 615.3 32.1 635.8 35 661.6 38.7 617.7 45.7 573.7 52.8 611.6 59.4 627.1 62.6 642.7 65.8 643.3 65.4 632.6 71.8 621.9 78.2 664.1 82.5 677.9 86.1 691.8 89.8 692 92.9 685.6 94.6 679.3 96.3 683.1 99.9 690.1 100.6 697.2 101.4 687.8 109.1 718.8 108.7 749.8 108.4 863.5 129.3 902 137.4 940.5 145.4 927.8 150.3 904 149.2 880.2 148.2 864.7 151 883.2 157.7 901.8 164.5 894.5 164.8 874.5 165.4 854.4 166.1 885.8 174 912.2 181.3 938.6 188.6 925.4 189.1 904.5 188.9 883.6 188.7 915.8 199.6 938.1 201.9 960.4 204.1 1063.3 234.9 968.2 216.2 873.1 197.6 672.7 184.1 625.1 188.4 577.5 192.6 679.7 198.2 702.1 200.4 724.4 202.5 677.6 203.2 638.4 200.4 599.1 197.5 402.5 205.2 328.9 216.6 255.4 228.1 258.7 215.7 278.9 208.3 319.2 193.4 546.9 155.5 280 197.6 13.2 239.7 63.3 221.4 78.9 218.5 94.6 215.6 51.8 202.3 46.7 199.4 41.7 196.5 51.7 187.3 58.5 182.7ZM836.3 64.3C836.3 64.3 717.1 52.5 692.5 53.6 668 54.6 715.5 58.8 836.3 64.3ZM793.4 78C780.2 75.7 766.8 74.7 753.4 75 738.7 76.9 784.5 76.8 793.4 78ZM1040 192.9C1040 192.9 991.3 169.4 977.7 171.4 964.1 173.5 1023.5 186.4 1040 192.9ZM1007.8 53.6C1007.8 53.6 932.8 32.1 896.1 32.1 859.4 32.1 992.9 47.5 1007.8 53.6ZM1029.3 85.7C1019.7 80.9 1009.6 77.3 999.1 75 988.1 73.8 1026 84.1 1029.3 85.7Z"
                    class="c"/>
              </g>
            </svg>
            <h2>Student passionate about <strong>UI Design</strong></h2>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 502 191" id="welcome-draw-UI">
              <path
                  d="M480.4 148.4C479.1 146.9 479.1 145.6 480.4 145.6 481.7 145.6 482.3 144.7 481.5 141.2 480.7 137.8 489.6 138.9 488.7 138 487.9 137.1 489.6 136.1 490 136 490.5 135.8 492.3 135.1 490.8 133.8 489.3 132.4 493.1 129.8 495.7 129.8 498.2 129.8 494.9 129.8 494.9 128 494.9 126.1 495.9 126.8 495.6 126.4 495.2 126 496.5 125.1 499.5 123.9 502.5 122.6 497.5 120.6 497.5 120.6 490.4 116.9 500.2 109.3 502 109.3 502.3 109.4 502.5 109.3 502.8 109 503 108.8 503.2 108.5 503.3 108.1 503.4 107.6 503.4 107.2 503.4 106.7 503.3 106.3 503.2 105.9 503 105.6 502.5 105.1 498.8 100.7 501.7 97 504.7 93.4 500 87.9 500 87.9 498.9 86.3 497.1 89.3 496.5 89.5 495.9 89.7 494.5 88.4 494.9 87.6 495.4 86.8 495.5 85 491.6 82.1 487.7 79.2 491.3 71.1 491.3 69.1 491.4 67.1 490.6 67.8 490.2 66.6 489.7 65.3 491.7 65.1 490.8 64.6 489.8 64 492.4 62.7 493.7 62.6 495 62.4 491.7 62.6 491.5 61.4 491.3 60.2 493 61.4 491.9 58.7 490.8 56.1 497.9 56.3 497.6 53.8 497.2 51.4 497.9 53 498 51.9 498.2 50.8 498 51.9 497.3 51.1 500.5 50.3 503.8 50.1 507 50.4 512.2 50.4 504.1 47 501.8 46.3 499.6 45.6 499.4 43 500.9 42.6 502.4 42.1 502.3 41.2 501.7 40.9 501 40.6 503.8 39.5 503.5 38.8 503.1 38.2 502.8 38.1 505.6 36.6 508.3 35.2 503.5 33.5 503.5 33.5 484.1 27.2 495.7 27.5 482.2 18.4 468.7 9.4 355.9-5.7 343.9-6.7 331.9-7.7 325.6-3.8 336.6 1.4 347.7 6.7 334.6 8.1 328.9 9.2 323.2 10.3 221.5 18.2 211.6 20.6 201.8 23.1 189.3 26.2 210.5 32.2 231.7 38.2 213.5 43.7 206 46.5 198.5 49.2 198.1 48.8 203.3 54.3 208.5 59.7 188.1 63.4 181.4 66.5 174.7 69.6 174.6 72.2 177.7 73.7 180.8 75.1 178.9 78.1 175.5 78.8 172.1 79.4 176.7 85.9 161.7 85.7 146.8 85.4 91.8 103.1 73.3 109.9 54.7 116.8 60.8 121 72.3 120 83.8 119.1 91.3 121.5 82.3 127.2 73.4 133 76.9 133.2 86.6 133.8 96.2 134.3 81.1 141.1 68.3 147.2 55.6 153.4 62 153.9 72.1 153.7 82.2 153.5 66.6 162.8 55.8 164.7 45.1 166.6-4.6 192.7 41.3 176.9 87.2 161.1 184 149.6 206.9 153.2 229.9 156.9 180.5 161.6 169.8 163.4 159 165.2 181.6 165.9 200.5 163.4 219.5 161 314.4 167.5 349.9 177.3 385.4 187 383.8 176.4 374 170.2 354.6 157.5 244.7 125.3 373.5 161.1 502.3 196.8 478.1 181.3 470.6 178.8 463 176.3 483.7 165.1 486.1 162.6 488.5 160.2 483.7 152.3 480.4 148.4ZM105 47.9C105 47.9 162.5 37.9 174.4 38.8 186.2 39.7 163.3 43.3 105 47.9ZM125.7 59.6C132.1 57.6 138.5 56.7 145 57 152.1 58.7 130 58.6 125.7 59.6ZM6.7 157.1C6.7 157.1 30.2 137.1 36.7 138.9 43.3 140.6 14.6 151.6 6.7 157.1ZM22.2 38.8C22.2 38.8 58.4 20.6 76.1 20.6 93.8 20.6 29.4 33.6 22.2 38.8ZM11.8 66.1C16.4 62 21.3 59 26.4 57 31.7 56 13.4 64.7 11.8 66.1Z"
                  fill="#FEF110"/>
            </svg>
          </div>

        </div>
        <About/>
    -->

  </div>

</template>

<script>
//import About from "@/components/about";

export default {
  name: "home",
  //components: {About}
}
</script>

<style scoped>


#welcomeText {
  text-align: center;
  height: 60vh;
  position: relative;
  z-index: 4;
  padding: 80px 0 0 0;

}

#title-container {
  position: relative;

}

#title-container h1 {
  font-weight: bold;
  font-size: 70px;
  z-index: 3;
  position: absolute;
  left: 30%;
}

#welcome-draw {
  position: absolute;
  z-index: 2;
  width: 1100px;
  left: 25%;
  overflow: hidden;
  fill: #5EDCF2;


}

#welcomeText h2 {
  font-weight: normal;
  font-size: 50px;
  z-index: 3;
  position: relative;
  top: 160px;
}

#welcome-draw-UI {
  position: absolute;
  z-index: 2;
  left: 48%;
  top: 110px;
  overflow: hidden;
  width: 502px;
  height: 191px;
}


</style>