<template>
  <div class="view">
    <div id="projects-landing">
      <div id="title-container">
        <svg viewBox="0 0 1580 387" version="1.1" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none" id="brush">
          <g id="offers" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g transform="translate(-670.000000, -754.000000)" fill="#6FEC96">
              <path
                  d="M2162.31739,719.676678 C2162.31739,719.676678 2265.55066,729.694623 2232.26312,735.993832 C2198.97558,742.29304 2191.55095,747.654448 2198.10116,756.128088 C2204.65138,764.601728 2209.10439,768.96823 2200.00607,774.252065 C2190.90743,779.532879 2204.11684,781.70857 2203.17185,785.371947 C2202.22654,789.032304 2147.89082,813.577433 2160.68021,824.449341 C2173.47356,835.320833 2186.34628,846.947491 2180.39588,853.680966 C2174.44548,860.414442 2177.28178,865.207406 2182.85479,870.729723 C2188.42779,876.25204 2174.15141,873.424986 2177.49674,879.944949 C2180.84601,886.464497 2205.38653,901.445868 2190.52979,899.443319 C2175.67732,897.443375 2169.33167,906.762403 2177.01783,919.697697 C2184.70004,932.633407 2204.2391,950.684461 2166.70445,948.267963 C2129.17375,945.851051 2137.64616,953.612636 2143.62643,959.855657 C2149.60669,966.098677 2137.95836,978.775586 2060.0151,981.369711 C1982.07153,983.960817 1590.50444,1041.14984 1550.58569,1046.10898 C1510.66694,1051.06812 1461.07054,1058.95319 1483.42835,1053.1675 C1505.78617,1047.38181 1487.90774,1043.5346 1462.72374,1046.18155 C1437.53974,1048.82849 1172.12038,1098.10342 1119.64052,1107.05506 C1067.16067,1116.0067 764.948651,1180.98306 734.848717,1189.10949 C704.748783,1197.23592 704.448876,1189.63236 734.213748,1183.06816 C734.213748,1183.06816 1112.51978,1086.80701 1152.9278,1072.2526 C1193.33582,1057.69818 1217.2102,1042.59101 1169.74776,1051.7788 C1122.28531,1060.9666 1116.05976,1053.98585 1142.52675,1049.29529 C1168.99373,1044.60473 1254.85383,1030.23591 1215.64036,1022.9048 C1176.42688,1015.57368 1059.95547,1042.70372 1028.6695,1049.04604 C997.383533,1055.38836 968.742902,1058.39861 989.420875,1050.88072 C1010.09885,1043.36282 1110.01904,1020.2629 1085.1701,1021.34761 C1060.32116,1022.43233 1012.89387,1022.45433 1066.28196,1012.64373 C1119.67005,1002.83312 1261.58116,970.73873 1180.71636,980.383225 C1099.85157,990.027719 836.658582,1027.23427 767.116124,1044.85083 C697.573666,1062.46739 707.008673,1047.73259 745.781074,1041.36692 C784.553474,1035.00126 1184.23424,942.601592 1212.98939,931.180716 C1241.74455,919.75984 1257.6608,909.688387 1219.14409,913.736656 C1180.62738,917.784925 1079.99285,934.08835 1064.36744,932.676615 C1048.74204,931.26488 1106.19962,922.171813 1103.175,917.145157 C1100.15038,912.118502 1067.37157,918.50778 1049.14622,920.860068 C1030.92088,923.212356 995.28762,926.194054 1021.71492,921.125909 C1048.14222,916.057764 1323.43766,865.744824 1343.18529,854.125416 C1362.93292,842.506007 1335.01968,838.186482 1272.38594,845.53306 C1209.75221,852.879639 1165.07174,855.285222 1198.70767,847.550649 C1232.3436,839.816076 1425.12105,811.919271 1397.86035,809.058176 C1370.59965,806.197081 1306.2685,816.394343 1316.61628,810.343947 C1326.96405,804.29355 1646.47545,755.059637 2006.93799,720.227528 C2039.82025,716.380547 2121.51487,705.130982 2129.66616,709.87534 C2137.82109,714.616263 2148.01305,710.237528 2146.84195,714.941664 C2145.67085,719.645799 2162.31739,719.676678 2162.31739,719.676678 Z M911.868809,916.096607 C911.868809,916.096607 1046.47831,884.639751 1083.70637,879.153394 C1120.93443,873.667037 1067.27583,869.340045 911.868809,916.096607 Z M825.401672,1151.66365 C825.401672,1151.66365 997.131727,1106.25498 1038.11573,1101.42338 C1079.09523,1096.58909 825.401672,1151.66365 825.401672,1151.66365 Z M684.996785,1146.80028 C684.996785,1146.80028 880.32508,1096.80909 911.122619,1095.20888 C941.924334,1093.60823 696.432113,1141.77822 684.996785,1146.80028 Z M1802.86835,1063.48924 C1802.86835,1063.48924 2091.44987,1009.53433 2152.38514,1019.37111 C2213.32041,1029.2079 1802.86835,1063.48924 1802.86835,1063.48924 Z"
                  id="Combined-Shape"
                  transform="translate(1461.935774, 950.679564) scale(-1, 1) rotate(4.000000) translate(-1461.935774, -950.679564) "></path>
            </g>
          </g>
        </svg>
        <h1 id="project-title">Projects</h1>
      </div>
    </div>
    <div id="projects-container">

      <router-link class="project-link" v-for="item in items" :to=item.link :key="item.link" :id=item.id>
        <div class="project-tile">
          <h2>{{ item.title }}</h2>
          <p>{{ item.description }}</p>

        </div>
      </router-link>

    </div>
  </div>
</template>

<script>

export default {

  name: "projects",
  data() {
    return {
      items: [
        {
          title: 'WidGetGood',
          description: 'UI/UX focused project allowing people to learn foreign languages vocabulary.',
          link: '/projects/WidGetGood',
          id: '#WidGetGood'
        },
        {
          title: 'UTBM Support',
          description: 'Website gathering IT services\' information of the UTBM.  ',
          link: '/projects/UTBMsupport',
          id: '#UTBMsupport'
        },
        {
          title: 'Legend\'EnHaut',
          description: 'Redesign of the website of the company Legend\'enHaut.',
          link: '/projects/Legendenhaut',
          id: '#legendenhaut'
        },
        {
          title: 'Love Letter',
          description: 'AI developed to play to the game Love Letter.',
          link: '/projects/LoveLetter',
          id: '#loveletter'
        },
        {
          title: 'Gala UTBM',
          description: 'Development of the front end part of the website of the Gala UTBM 2021.',
          link: '/projects/Gala',
          id: '#gala'
        },
        {
          title: 'French wines',
          description: 'Front end focused project that presents wines from France.',
          link: '/projects/French-wine',
          id: '#french-wine'
        }

      ]
    }
  }
}
</script>

<style scoped>

#projects-landing {
  height: 80vh;
  display: flex;
  justify-content: flex-start;
  align-content: flex-end;
  align-items: flex-end;
  flex-wrap: nowrap;
  flex-direction: row;
}
#title-container{
  position: relative;
  margin-bottom: 100px;
}
#project-title {
  font-size: 180px;
  margin-left: 50px;
  color: #3D3D3D;
  z-index: 3;
  position: relative;
  bottom: 100px;
  left: 100px;
}

#brush {
  z-index: 1;
  position: absolute;
  width: 100vw;
}

#projects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 40px 30px;
}

.project-link {
  margin: 50px;
}

.project-tile {
  height: 250px;
  width: 300px;
  background-color: #ffffff;
  border: 2px solid #3D3D3D;
  border-radius: 30px;
  transition: background-color .3s, border .2s
}

.project-tile:hover {
  background-color: #6FEC96;
  border: 2px solid rgba(61, 61, 61, 0);

}

.project-tile:active {
  background-color: #ffffff;

}

.project-tile h2 {
  font-size: 35px;
  padding: 30px 3px 0 30px;
  color: #3D3D3D;
}

.project-tile p {
  padding: 1px 30px;
  font-size: large;
  text-align: justify-all;
  opacity: 0;
  transition: opacity .3s;
}

.project-tile:hover p {
  opacity: 1;
}
</style>