<template>
  <div id='french-wine'>
    <div id="project-title">
      <h1>French wine website</h1>
    </div>
    <section>
      <div id="french-wine-details">
        <h2>Objective</h2>
        <p>
          The objective of this project was to discover the usual web technologies like HTML, CSS and JS by creating a
          front-end only project with multiple pages, animations, images gallery and a counter.<br/>
          The website is hosted on Gitlab and available here : <a href="https://alexandredesbos.gitlab.io/frenchwine/"
                                                                  target="_blank">French wine website</a>
        </p>

        <h2>Gitlab repository</h2>
        <p>You can access the project repository by following this link : </p>
        <a href="https://gitlab.com/AlexandreDesbos/frenchwine" target="_blank">French wine repository</a>

      </div>
      <div id="technologies">
        <h2>Technologies</h2>
        <ul>
          <li>
            <img src="../../assets/icons/html.svg" alt="html">
            <p>HTML5</p>
          </li>
          <li>
            <img src="../../assets/icons/css.svg" alt="css">
            <p>CSS3</p>
          </li>
          <li>
            <img src="../../assets/icons/jquery.svg" alt="jquery">
            <p>jQuery</p>
          </li>

        </ul>
      </div>
    </section>
  </div>

</template>

<script>
export default {
  name: "WidGetGood"
}
</script>

<style scoped>

#french-wine {
  margin-top: 80px;

}

#project-title h1, #project-title p {
  z-index: 2;
  position: relative;
}

#project-title img {
  z-index: 1;
  position: relative;
}

h1 {
  font-size: 80px;
  margin: 0 0 0 5vw;
}

p {
  text-align: justify;
  font-size: large;
}

iframe {
  border-radius: 20px;
  transition: transform .2s;
  margin: 20px 0;
}

iframe:hover {
  transform: scale(1.01);
}

#technologies {
  margin-top: 40px;
  padding: 5px 40px;
  background-color: #ffffff;
  box-shadow: 0 5px 40px 0 rgba(0, 0, 0, .1);
  border-radius: 20px;
  position: sticky;
  top: 20px;
}

ul {
  padding-left: 10px;
}

li {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

li p {
  padding-left: 10px;
}

section {
  margin: 0 5vw;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  align-items: flex-start;
}

#french-wine-details {
  width: 50vw;
  padding: 0 0 100px 0;
}

#french-wine-details h2 {
  margin-top: 50px;
}

#french-wine-details a {
  color: #F19BCF;
  transition: text-decoration .3s;
}

#french-wine-details a:hover {
  text-decoration: underline;
}
</style>