<template>
  <div id="Gala">
    <h1>Gala UTBM website</h1>
    <section>
      <div id="gala-details">
        <h2>Presentation</h2>
        <p>The Gala of the University of Technology of Belfort-Montbéliard is an event organized for graduated students
          to celebrate their graduation. The staff is composed of students and organize a ceremony and a party. Every
          year, the event gathers around 1100 persons with a 85000€-budget. </p>
        <h2>Objective</h2>
        <p>
          As the person responsible for IT services before and during the event, I had to develop the front-end of the
          event's website. The goal was to make the website welcoming and prestigious to reflect the values that
          we wanted to share during the ceremony. <br/>
          You can access the website here : <a href="https://alexandredesbos.gitlab.io/sitegala/" target="_blank">Gala
          UTBM</a>
        </p>
      </div>
      <div class="technologies">
        <h2>Technologies</h2>
        <ul>
          <li>
            <img alt="html" src="../../assets/icons/html.svg">
            <p>HTML</p>
          </li>
          <li>
            <img alt="html" src="../../assets/icons/css.svg">
            <p>CSS3</p>
          </li>
          <li>
            <img alt="jquery" src="../../assets/icons/jquery.svg">
            <p>jQuery</p>
          </li>
          <li>
            <img alt="html" src="../../assets/icons/js.svg">
            <p>JavaScript</p>
          </li>
        </ul>
      </div>
    </section>

  </div>
</template>

<script>
export default {
  name: "Gala"
}

</script>

<style scoped>
h1 {
  font-size: 80px;
  margin-left: 5vw;
}

p{
  text-align: justify;
  font-size: large;
}

section {
  margin: 50px 5vw;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  align-items: flex-start;
}

ul {
  padding-left: 10px;
}

li {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

li p {
  padding-left: 10px;
}

.technologies {
  margin-top: 40px;
  padding: 5px 40px;
  background-color: #ffffff;
  box-shadow: 0 5px 40px 0 rgba(0, 0, 0, .1);
  border-radius: 20px;
  position: sticky;
  top: 20px;
}

#gala-details {
  width: 50vw;
  padding: 0 0 100px 0;
}

#gala-details h2 {
  margin-top: 50px;
}

#gala-details a {
  color: #F19BCF;
  transition: text-decoration .3s;
}

#gala-details a:hover {
  text-decoration: underline;
}
</style>