<template>

  <div id="legend-en-haut">
    <div id="project-title">
      <h1>Legend'enHaut</h1>
    </div>
    <section>
      <div id="legend-en-haut-details">
        <h2>Objective</h2>
        <p>
          As a personal project, I’ve decided to redesign the website of the company Legend’enHaut using Figma. This
          project aims to modernize the website and improve the user interface of the website to make it more
          attractive. <br/>
          You can access the original website here : <a href="http://www.legend-enhaut.com/" target="_blank">legend-enhaut.com</a>

        </p>

        <h2>Prototype</h2>
        <p>The whole project is a prototype designed with Figma. I've tried to keep the spirit of the original website,
          the main sections and pages.
          Here is the link to the interactive prototype :
          <a
              target="_blank" href="https://www.figma.com/proto/YF3CJ7OLJcB0JZ58WZaUS4/Legend-Enhaut-Concept?node-id=2%3A2&viewport=-81%2C253%2C0.030357208102941513&scaling=scale-down-width&page-id=0%3A1%3Ffuid%3D909772505277962382">
              Legend'EnHaut prototype
          </a>
        </p>
        <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450"
                src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FYF3CJ7OLJcB0JZ58WZaUS4%2FLegend-Enhaut-Concept%3Fnode-id%3D0%253A1"
                allowfullscreen></iframe>

      </div>
      <div id="technologies">
        <h2>Technologies</h2>
        <ul>
          <li>
            <img alt="figma" src="../../assets/icons/figma.svg">
            <p>Figma</p>
          </li>
        </ul>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: "Legendenhaut"
}
</script>

<style scoped>
#legend-en-haut {
  margin-top: 80px;

}

#project-title h1, #project-title p {
  z-index: 2;
  position: relative;
}

#project-title img {
  z-index: 1;
  position: relative;
}

h1 {
  font-size: 80px;
  margin: 0 0 0 5vw;
}

p {
  text-align: justify;
  font-size: large;
}

iframe {
  border-radius: 20px;
  transition: transform .2s;
  margin: 20px 0;
}

iframe:hover {
  transform: scale(1.01);
}

#technologies {
  margin-top: 40px;
  padding: 5px 40px;
  background-color: #ffffff;
  box-shadow: 0 5px 40px 0 rgba(0, 0, 0, .1);
  border-radius: 20px;
  position: sticky;
  top: 20px;
}

ul {
  padding-left: 10px;
}

li {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

li p {
  padding-left: 10px;
}

section {
  margin: 0 5vw;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  align-items: flex-start;
}

#legend-en-haut-details {
  width: 50vw;
  padding: 0 0 100px 0;
}

#legend-en-haut-details h2 {
  margin-top: 50px;
}

#legend-en-haut-details a {
  color: #F19BCF;
  transition: text-decoration .3s;
}

#legend-en-haut-details a:hover {
  text-decoration: underline;
}

</style>