<template>

  <div id='love-letter'>
    <div id="project-title">
      <h1>Love Letter AI Project</h1>
    </div>
    <section>
      <div id="love-letter-details">
        <h2>Objective</h2>
        <p>
          This project aimed to develop an AI able to play to the game Love Letter.<br/>
          Love letter is a deduction game that can be played by up to 6 players. The objective is to make your opponents
          lose by managing to keep the most valuable card until the end of the round or by discarding them until you
          become the last player in the game.<br/><br/>
          We defined our priorities concerning the project :
        </p>
        <ol>
          <li>Operate the game in the console (for two humans only).</li>
          <li>Implement the AI (using <strong>negamax</strong>.</li>
          <li>Create a graphical interface to tie everything together.</li>
        </ol>

        <h2>Prototypes</h2>
        <p>
          Due to the amount of time that we had to develop the project, we mainly focused on the AI, but we decided to
          create some prototypes on Figma to imagine how would the user interface look like.
        </p>

        <iframe style="border: 0;" width="800" height="450"
                src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2F3pBNYTXuuWcafmpLulezHa%2FLoveLetter%3Fnode-id%3D0%253A1"
                allowfullscreen></iframe>
        <h2>Gitlab repository</h2>
        <p>You can access the project repository by following this link : </p>
        <a href="https://gitlab.com/AlexandreDesbos/loveletter" target="_blank">Love Letter - AI project</a>

      </div>
      <div id="technologies">
        <h2>Technologies</h2>
        <ul>
          <li>
            <img src="../../assets/icons/python.svg" alt="html">
            <p>Python</p>
          </li>
        </ul>
      </div>
    </section>
  </div>

</template>

<script>
export default {
  name: "WidGetGood"
}
</script>

<style scoped>

#love-letter {
  margin-top: 80px;

}

#project-title h1, #project-title p {
  z-index: 2;
  position: relative;
}

#project-title img {
  z-index: 1;
  position: relative;
}

h1 {
  font-size: 80px;
  margin: 0 0 0 5vw;
}

p {
  text-align: justify;
  font-size: large;
}

iframe {
  border-radius: 20px;
  transition: transform .2s;
  margin: 20px 0;
}

iframe:hover {
  transform: scale(1.01);
}

#technologies {
  margin-top: 40px;
  padding: 5px 40px;
  background-color: #ffffff;
  box-shadow: 0 5px 40px 0 rgba(0, 0, 0, .1);
  border-radius: 20px;
  position: sticky;
  top: 20px;
}

ul {
  padding-left: 10px;
}

ul li {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

li p {
  padding-left: 10px;
}

section {
  margin: 0 5vw;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  align-items: flex-start;
}

#love-letter-details {
  width: 50vw;
  padding: 0 0 100px 0;
}

#love-letter-details h2 {
  margin-top: 50px;
}

#love-letter-details a {
  color: #F19BCF;
  transition: text-decoration .3s;
}

#love-letter-details a:hover {
  text-decoration: underline;
}
</style>