<template>
  <div id='UTBMsupport'>
    <h1>UTBM Support*</h1>
    <p id="WIP">*work in progress</p>


    <section>
      <div id="UTBMsupportDetails">
        <h2>Objective</h2>
        <p>
          The project aims to gather all IT services’ tutorials of the University of Technology of Belfort-Montbéliard
          on one web site. There will be 2 kinds of users: Visitors that want to find information and educational
          coordinators that need to be able to add new pieces of information and modify existing categories and
          articles.
        </p>
        <h2>Prototypes</h2>
        <iframe style="border: 0" width="800" height="450"
                src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2Fo41d8Sw3qWyuC2YL8L69Qv%2FFAQ-Moodle%3Fnode-id%3D28%253A195"
                allowfullscreen>

        </iframe>
        <h2>GitLab repository</h2>
        <p>You can access the project repository by following this link : </p>
        <a  href="https://gitlab.com/AlexandreDesbos/utbm-support" target="_blank">Gitlab repository</a>
      </div>
      <div class="technologies">
        <h2>Technologies</h2>
        <ul>
          <li>
            <img alt="react" src="../../assets/icons/react.svg">
            <p>React</p>
          </li>
          <li>
            <img src="../../assets/icons/gatsby.svg" alt="gatsby">
            <p>Gatsby JS</p>
          </li>
          <li>
            <img src="../../assets/icons/js.svg" alt="js">
            <p>JavaScript</p>
          </li>
          <li>
            <img alt="npm" src="../../assets/icons/npm.svg">
            <p>NPM</p>
          </li>
          <li>
            <img alt="figma" src="../../assets/icons/figma.svg">
            <p>Figma</p>
          </li>
          <li>
            <img alt="node" src="../../assets/icons/node.svg">
            <p>Node JS</p>
          </li>
          <li>
            <img alt="mysql" src="../../assets/icons/mysql.svg">
            <p>MySQL</p>
          </li>

        </ul>
      </div>
    </section>
  </div>

</template>

<script>
export default {
  name: "UTBMsupport"
}
</script>

<style scoped>
h1 {
  font-size: 80px;
  margin : 0  0  0 5vw ;
}

p {
  text-align: justify;
  font-size: large;
}

iframe {
  border-radius: 20px;
  transition: transform .2s;
}

iframe:hover {
  transform: scale(1.01);
}

ul {
  padding-left: 10px;
}

li {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

li p {
  padding-left: 10px;
}

section {
  margin: 0 5vw;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  align-items: flex-start;
}

#UTBMsupportDetails {
  width: 50vw;
  padding-bottom: 100px;
}
#UTBMsupportDetails h2{
  margin-top: 50px;
}
#WIP{ margin: 0 0 0 5vw;}

.technologies {
  margin-top: 40px;
  padding: 5px 40px;
  background-color: #ffffff;
  box-shadow: 0 5px 40px 0 rgba(0, 0, 0, .1);
  border-radius: 20px;
  position: sticky;
  top: 20px;
}

</style>