<template>
  <div id='WidGetGood'>
    <div id="project-title">
      <h1>WidGetGood*</h1>
      <p id="WIP">*work in progress</p>
    </div>
    <section>
      <div id="WidGetGoodDetails">
        <h2>Objective</h2>
        <p>
          This project has one goal: Help our user to learn new foreign languages vocabulary.<br/><br/>

          As designers and front end developers, the project aims to help us understand different methods that we should
          use to deliver a useful, easy to use, understandable and that respect user expectations product.
          To make our proof of concept and understand the kind of users that will use our product, we’ve created a
          questionnaire available on this link:
          <a href="https://forms.gle/J8eSxs9wGFdJgP9y7" target="_blank">access the questionnaire (in french)</a>
          <br/>
          With the gathered pieces of information, we will be able to create personas and start prototyping with
          users.<br/>
          At the end, we want to deliver a mobile Flutter app that could be used by everyone on smartphone.

        </p>
        <h2>Prototypes</h2>
        <p>We started to create prototypes with brief ideas that we will present to our users and rework with them. This
          will help us to develop an app that matches their expectations.</p>
        <h3>Here is the in progress prototype : </h3>
        <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450"
                src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2F0HttOFMcdx16Hy0K6wtnNf%2FWidGetGood%3Fnode-id%3D294%253A231"
                allowfullscreen>

        </iframe>
        <h3>You can try the prototype by following this link : </h3>
        <a target="_blank" href="https://www.figma.com/proto/0HttOFMcdx16Hy0K6wtnNf/WidGetGood?page-id=294%3A231&node-id=358%3A1027&viewport=690%2C479%2C0.1654934287071228&scaling=min-zoom">Interactive WidGetGood prototype</a>
        <h2>Github repository</h2>
        <p>You can access the project repository by following this link : </p>
        <a href="https://github.com/LargeWaffle/WidGetGood/" target="_blank">Github repository</a>

      </div>
      <div id="technologies">
        <h2>Technologies</h2>
        <ul>

          <li>
            <img alt="figma" src="../../assets/icons/figma.svg">
            <p>Figma</p>
          </li>
          <li>
            <img src="../../assets/icons/dart.svg" alt="dart">
            <p>Dart</p>
          </li>
          <li>
            <img src="../../assets/icons/flutter.svg" alt="flutter">
            <p>Flutter</p>
          </li>

        </ul>
      </div>
    </section>
  </div>

</template>

<script>
export default {
  name: "WidGetGood"
}
</script>

<style scoped>

#WidGetGood {
  margin-top: 80px;

}

#project-title h1, #project-title p {
  z-index: 2;
  position: relative;
}

#project-title img {
  z-index: 1;
  position: relative;
}

h1 {
  font-size: 80px;
  margin: 0 0 0 5vw;
}

#WIP {
  margin: 0 0 0 5vw;
}

p {
  text-align: justify;
  font-size: large;
}

iframe {
  border-radius: 20px;
  transition: transform .2s;
  margin: 20px 0;
}

iframe:hover {
  transform: scale(1.01);
}

#technologies {
  margin-top: 40px;
  padding: 5px 40px;
  background-color: #ffffff;
  box-shadow: 0 5px 40px 0 rgba(0, 0, 0, .1);
  border-radius: 20px;
  position: sticky;
  top: 20px;
}

ul {
  padding-left: 10px;
}

li {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

li p {
  padding-left: 10px;
}

section {
  margin: 0 5vw;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  align-items: flex-start;
}

#WidGetGoodDetails {
  width: 50vw;
  padding: 0 0 100px 0;
}

#WidGetGoodDetails h2 {
  margin-top: 50px;
}

#WidGetGoodDetails a {
  color: #F19BCF;
  transition: text-decoration .3s;
}

#WidGetGoodDetails a:hover {
  text-decoration: underline;
}
</style>