<template>
  <div id="about">
    <div id="aboutMe">
      <div id="aboutMePhoto">
        <img alt="Vue logo" src="../assets/alex.jpg">
      </div>
      <div id="aboutMeText">
        <h2>Nice to meet you<strong>.</strong></h2>
        <p>
          Hello, my name is Alexandre DESBOS. <br>
          I'm currently a student at the University of Technology
          of Belfort-Montbéliard (<a href="https://www.utbm.fr/english/"><strong>UTBM</strong></a>) in Belfort, France.
          <br>
          My main field of study is computer sciences and I will specialise in UI Design.
          At the moment, I like to work on visual design and user interfaces.
          When I'm not studying, I love to learn stuff about UI Design, CGI videos, practising longboarding, climbing
          and skiing or be part of the organization of events in my school.
        </p>
      </div>
    </div>
  </div>

</template>

<script>

export default {
  name: "about"
}
</script>

<style scoped>
#aboutMe {
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;

}

#aboutMeText h2 {
  font-size: xx-large;
}

#aboutMeText p {
  font-size: xx-large;
}

#aboutMePhoto {
  z-index: 3;
}

#aboutMePhoto img {
  width: 400px;
  height: auto;
  border-radius: 10px;
  position: relative;

}

#aboutMeText {
  width: 30vw;
  position: relative;
  z-index: 3;
}

#aboutMeText p {
  font-size: larger;
  text-align: justify;
}
#about{
  z-index: 2;
}

</style>