<template>
  <footer>
    <div>
      <h1>© Alexandre DESBOS</h1>
      <p>Thank you to Matters for inspiration.</p>
      <p>Made with determination with VueJS 🔥</p>
    </div>
    <div>
      <h2>Let's get in touch !</h2>
      <a href="mailto:alexandre.des3os@gmail.com">alexandre.des3os@gmail.com</a>
    </div>
  </footer>

</template>

<script>

export default {
  name: "Footer"
}
</script>

<style scoped>
footer {
  height: 150px;
  background-color: #5EDCF2;
  border-radius: 15px 15px 0 0;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

h1 {
  color: white;
}
</style>