<template>
  <header>
    <div id="title">
      <router-link to="/">
        Alexandre <br/> Desbos
      </router-link>

    </div>
    <div id="Space"></div>
    <nav>
      <router-link to="/projects" class="link">
        <span class="linkText">Projects</span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 97 21" preserveAspectRatio="none" class="brush">
          <g mask="url(#headerBrush)">
            <path fill="#5EDCF2"
                  d="M41.22,0H52V.5H38V0ZM5.46,17.05c.25-.17.26-.31,0-.31s-.36-.1-.21-.48S3.69,16,3.85,15.9s-.16-.2-.25-.22-.44-.09-.15-.24S3,15,2.51,15s.15,0,.15-.2-.2-.13-.13-.17-.19-.14-.77-.28.4-.36.4-.36c1.37-.41-.53-1.24-.88-1.24a.24.24,0,0,1-.19-.41c.09-.05.82-.54.25-.94s.33-1,.33-1c.22-.18.56.15.68.17s.38-.12.3-.21-.11-.28.64-.6.07-1.21.06-1.43.13-.14.22-.28-.29-.16-.11-.22-.31-.2-.57-.22.39,0,.43-.13-.29,0-.08-.29-1.17-.27-1.1-.54-.06-.09-.09-.21,0,0,.14-.09A10.08,10.08,0,0,0,.32,6.27c-1,0,.57-.37,1-.45s.47-.36.18-.41-.28-.15-.15-.18S.93,5.07,1,5s.14-.08-.4-.24.4-.34.4-.34c3.75-.7,1.51-.67,4.12-1.66S29.52.11,31.84,0s3.53.31,1.4.89.4.73,1.5.85S55.48,2.73,57.39,3s4.32.61.22,1.27-.57,1.27.88,1.57S60,6.1,59,6.7s2.94,1,4.23,1.34,1.31.63.72.79-.24.49.42.56-.22.79,2.67.76,13.5,1.92,17.09,2.67,2.41,1.21.19,1.11-3.67.16-1.94.79,1.05.66-.82.72,1.06.8,3.52,1.48,1.23.73-.72.71,1.06,1,3.14,1.21,11.67,3.08,2.8,1.34-27.56-3-32-2.6,5.1.92,7.18,1.12-2.28.27-5.94,0-22,.45-28.86,1.52-6.55-.09-4.67-.78c3.76-1.39,25-4.93.11-1S5.9,20.66,7.36,20.39s-2.53-1.51-3-1.78S4.82,17.48,5.46,17.05ZM78,6S66.88,4.9,64.59,5,66.73,5.49,78,6ZM74,7.28A18.77,18.77,0,0,0,70.27,7C68.9,7.18,73.17,7.17,74,7.28ZM97,18s-4.54-2.19-5.81-2S95.46,17.4,97,18ZM94,5S87,3,83.58,3,92.61,4.43,94,5Zm2,3a12.13,12.13,0,0,0-2.81-1C92.16,6.89,95.69,7.85,96,8Z"></path>
          </g>
        </svg>

      </router-link>

      <a href="https://www.linkedin.com/in/alexandre-desbos-752a14158/"
         target="_blank"
         rel="noopener"
         class="link"
         title="My full resume is here.">
        <span class="linkText">Linkedin</span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 97 21" preserveAspectRatio="none" class="brush">
          <g mask="url(#headerBrush)">
            <path fill="#5EDCF2"
                  d="M41.22,0H52V.5H38V0ZM5.46,17.05c.25-.17.26-.31,0-.31s-.36-.1-.21-.48S3.69,16,3.85,15.9s-.16-.2-.25-.22-.44-.09-.15-.24S3,15,2.51,15s.15,0,.15-.2-.2-.13-.13-.17-.19-.14-.77-.28.4-.36.4-.36c1.37-.41-.53-1.24-.88-1.24a.24.24,0,0,1-.19-.41c.09-.05.82-.54.25-.94s.33-1,.33-1c.22-.18.56.15.68.17s.38-.12.3-.21-.11-.28.64-.6.07-1.21.06-1.43.13-.14.22-.28-.29-.16-.11-.22-.31-.2-.57-.22.39,0,.43-.13-.29,0-.08-.29-1.17-.27-1.1-.54-.06-.09-.09-.21,0,0,.14-.09A10.08,10.08,0,0,0,.32,6.27c-1,0,.57-.37,1-.45s.47-.36.18-.41-.28-.15-.15-.18S.93,5.07,1,5s.14-.08-.4-.24.4-.34.4-.34c3.75-.7,1.51-.67,4.12-1.66S29.52.11,31.84,0s3.53.31,1.4.89.4.73,1.5.85S55.48,2.73,57.39,3s4.32.61.22,1.27-.57,1.27.88,1.57S60,6.1,59,6.7s2.94,1,4.23,1.34,1.31.63.72.79-.24.49.42.56-.22.79,2.67.76,13.5,1.92,17.09,2.67,2.41,1.21.19,1.11-3.67.16-1.94.79,1.05.66-.82.72,1.06.8,3.52,1.48,1.23.73-.72.71,1.06,1,3.14,1.21,11.67,3.08,2.8,1.34-27.56-3-32-2.6,5.1.92,7.18,1.12-2.28.27-5.94,0-22,.45-28.86,1.52-6.55-.09-4.67-.78c3.76-1.39,25-4.93.11-1S5.9,20.66,7.36,20.39s-2.53-1.51-3-1.78S4.82,17.48,5.46,17.05ZM78,6S66.88,4.9,64.59,5,66.73,5.49,78,6ZM74,7.28A18.77,18.77,0,0,0,70.27,7C68.9,7.18,73.17,7.17,74,7.28ZM97,18s-4.54-2.19-5.81-2S95.46,17.4,97,18ZM94,5S87,3,83.58,3,92.61,4.43,94,5Zm2,3a12.13,12.13,0,0,0-2.81-1C92.16,6.89,95.69,7.85,96,8Z"></path>
          </g>
        </svg>
      </a>
      <a href='https://gitlab.com/AlexandreDesbos'
         target="_blank"
         rel="noopener"
         class="link"
         title="Check my git repo here!">
        <span class="linkText">
          GitLab
        </span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 97 21" preserveAspectRatio="none" class="brush">
          <g mask="url(#headerBrush)">
            <path fill="#5EDCF2"
                  d="M41.22,0H52V.5H38V0ZM5.46,17.05c.25-.17.26-.31,0-.31s-.36-.1-.21-.48S3.69,16,3.85,15.9s-.16-.2-.25-.22-.44-.09-.15-.24S3,15,2.51,15s.15,0,.15-.2-.2-.13-.13-.17-.19-.14-.77-.28.4-.36.4-.36c1.37-.41-.53-1.24-.88-1.24a.24.24,0,0,1-.19-.41c.09-.05.82-.54.25-.94s.33-1,.33-1c.22-.18.56.15.68.17s.38-.12.3-.21-.11-.28.64-.6.07-1.21.06-1.43.13-.14.22-.28-.29-.16-.11-.22-.31-.2-.57-.22.39,0,.43-.13-.29,0-.08-.29-1.17-.27-1.1-.54-.06-.09-.09-.21,0,0,.14-.09A10.08,10.08,0,0,0,.32,6.27c-1,0,.57-.37,1-.45s.47-.36.18-.41-.28-.15-.15-.18S.93,5.07,1,5s.14-.08-.4-.24.4-.34.4-.34c3.75-.7,1.51-.67,4.12-1.66S29.52.11,31.84,0s3.53.31,1.4.89.4.73,1.5.85S55.48,2.73,57.39,3s4.32.61.22,1.27-.57,1.27.88,1.57S60,6.1,59,6.7s2.94,1,4.23,1.34,1.31.63.72.79-.24.49.42.56-.22.79,2.67.76,13.5,1.92,17.09,2.67,2.41,1.21.19,1.11-3.67.16-1.94.79,1.05.66-.82.72,1.06.8,3.52,1.48,1.23.73-.72.71,1.06,1,3.14,1.21,11.67,3.08,2.8,1.34-27.56-3-32-2.6,5.1.92,7.18,1.12-2.28.27-5.94,0-22,.45-28.86,1.52-6.55-.09-4.67-.78c3.76-1.39,25-4.93.11-1S5.9,20.66,7.36,20.39s-2.53-1.51-3-1.78S4.82,17.48,5.46,17.05ZM78,6S66.88,4.9,64.59,5,66.73,5.49,78,6ZM74,7.28A18.77,18.77,0,0,0,70.27,7C68.9,7.18,73.17,7.17,74,7.28ZM97,18s-4.54-2.19-5.81-2S95.46,17.4,97,18ZM94,5S87,3,83.58,3,92.61,4.43,94,5Zm2,3a12.13,12.13,0,0,0-2.81-1C92.16,6.89,95.69,7.85,96,8Z"></path>
          </g>
        </svg>

      </a>


    </nav>
  </header>
</template>

<script>

export default {
  name: "Header",

}
</script>

<style scoped>
.link {
  position: relative;
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0);
  font-weight: bolder;
  margin: 0 30px 0 30px;
  padding: 20px;
  font-size: 20px;

}

.link span {
  z-index: 3;
  position: relative;
  color: #636f7f;
}

.link .brush {
  position: absolute;
  width: 0;
  left: 0;
  top: 40%;
  z-index: 1;
  height: 20px;
  transition: width .2s cubic-bezier(0,.33,.68,.99);
}
.link:hover .brush {
  width: 120%;

  /*transform: scaleX(1) scaleY(1);*/
}
.link.router-link-exact-active span {
  color: #3D3D3D;
}
.link.router-link-exact-active .brush{
  width: 120%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5vh 5vw 5vh 5vw;
}

#title {
  font-size: x-large;
  font-weight: bolder;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav a:hover {
  cursor: pointer;
}




</style>