<template>
  <div id="app">
    <!--    <Header/>-->
    <transition
        mode="out-in"
        enter-active-class="animate__animated animate__fadeIn"
        leave-active-class="animate__animated animate__fadeOut"
    >
      <router-view/>
    </transition>
    <!--    <Footer/>-->

  </div>
</template>

<script>
//import Header from "@/components/Header";
//import Footer from "@/components/Footer";

export default {
  name: 'App',
  components: {
//    Footer,
    //  Header
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');

::-webkit-scrollbar {
  display: none;

}

::-moz-focus-inner {
  border: 0;
}

:focus {
  outline: none;
}

::selection {
  background: #F19BCF;
}

* {
  font-family: 'Karla', sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;

  color: #3D3D3D;
  -ms-overflow-style: none;
}

strong {
  font-weight: bolder;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

a, a:link, a:visited {
  text-decoration: none;
}

/*Animation management*/
.animate__animated.animate__fadeIn, .animate__animated.animate__fadeOut {
  --animate-duration: 0.2s;
}

</style>
